<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blockheads.mygbu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGBU">
        <activity
            android:name=".Bankpage"
            android:exported="false" />
        <activity
            android:name=".Clubpage"
            android:exported="false" />
        <activity
            android:name=".SportsActivity"
            android:exported="false" />
        <activity
            android:name=".Calanderpage"
            android:exported="false" />
        <activity
            android:name=".NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".Admissionpage"
            android:exported="false" />
        <activity
            android:name=".Helpdeskpage"
            android:exported="false" />
        <activity
            android:name=".Schoolspage"
            android:exported="false" />
        <activity
            android:name=".Timetablepage"
            android:exported="false" />
        <activity
            android:name=".LifeatgbuActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".LibraryActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".Placementpage"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".Culturepage"
            android:exported="false" />
        <activity
            android:name=".Transportpage"
            android:exported="false" />
        <activity
            android:name=".Hostelpage"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>